@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 170px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 170px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #cef0bb;
  padding: 0.8rem 1rem;
  padding-top: 20px;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 170px;
  height: 66px;
}

.start {
  color: rgb(44, 40, 40);
  background: linear-gradient(90deg, #f2fcfe 0%, #1c92d2 100%);
}

.progress {
  color: rgb(44, 40, 40);
  background: linear-gradient(90deg, #209cff 0%, #ff5e62 100%);
}

.done {
  background: linear-gradient(90deg, #ff5e62 0%, #6be585 100%);
  color: #1b1c1d;
}

.hold {
  background: #1c92d2;
  color: #2b2b2b;
  border: 1px solid #111;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
}

.hide {
  display: none;
}

.hovered {
  border-top: 1px solid #1c92d2;
  border-radius: 9%;
}